{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block body %}
    <div class="container">
    <h1>Detail de l'annonce {{ ad.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ ad.description }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ ad.city }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ ad.zip }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ad.price }} €</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ ad.dateCreated ? ad.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a class ="no_white" href="{{ path('ad_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>

    </div>

{% endblock %}
