{% extends 'base.html.twig' %}

{% block title %}UserFavorites{% endblock %}

{% block body %}
    <h1>UserFavorites</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_favorite.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ user_favorite.created ? user_favorite.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_favorites_index') }}">back to list</a>

    <a href="{{ path('user_favorites_edit', {'id': user_favorite.id}) }}">edit</a>

    {{ include('user_favorites/_delete_form.html.twig') }}
{% endblock %}
